


<div class="card-body">

    <div class="row">
        <div class="col-xl-12">
            <!--begin::Engage Widget 13-->
            <!--begin::Card-->
            <div class="card card-custom card-stretch gutter-b">
                <div class="card-header" style="background-color: #3A4CA8">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="flaticon2-chat-1 text-white"></i>
                        </span>
                        <h3 class="card-label text-white">
                            COVID-19 and MS - Global Data Sharing Initiative
                            <small>Analysis</small>
                        </h3>
                    </div>
                    <div class="card-toolbar">
                        <a href="#" class="btn bg-white btn-outline-secondary btn-sm font-weight-bold">
                            <i class="flaticon2-cube"></i>Patients Data
                        </a>
                    </div>
                </div>
                <!--begin::Card Body-->
                <div class="card-body d-flex rounded p-12 flex-column flex-md-row flex-lg-column flex-xxl-row" style="background-color: #3A4CA8">
                    <!--begin::Image-->
                    <!--end::Image-->
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <!--begin::Card Body-->
                        <div class="card-body px-12 py-10">

                            <div class="font-size-sm mb-8">
                                As the COVID-19 pandemic unfolds across the globe, the demand for data on the impact of the novel coronavirus on people with Multiple Sclerosis (MS) grows rapidly.
                                This information is crucial for people with MS and clinicians to make evidence-based decisions on how to manage their condition during the pandemic or in case of a COVID-19 infection.
                                MS Data Alliance and the MS International Federation have teamed up to set up a Global Data Sharing Initiative and are calling for individuals and organisations across the global MS movement to get involved.
                            </div>
                            <!--begin::Info-->

                            <div class="card-footer d-flex justify-content-between">
                                <!-- Button trigger modal-->
                                <a asp-area="EndUser" asp-controller="Patients" asp-action="Run" class="btn btn-primary font-weight-bold mr-3" style="background-color:#3A4CA8; border-color:#3A4CA8" id="kt_btn_1">Run the Analysis</a>

                                <a class="btn btn-outline-secondary font-weight-bold">Learn more</a>
                            </div>
                            <!--end::Info-->
                        </div>
                        <!--end::Card Body-->
                    </div>

                    <div class="bgi-no-repeat bgi-position-center  h-300px h-md-auto h-lg-300px h-xxl-auto mw-100 w-550px" style="  background-image: url('/assets/home-banner-cleaner.svg')"></div>

                    <!--end::Card-->
                </div>
                <!--end::Card Body-->
            </div>
            <!--end::Card-->
            <!--end::Engage Widget 13-->
        </div>
    </div>
</div>







